<h1>Change Password</h1>
<% if @errors.present? %>
  <div id="errorExplanation" class="errorExplanation">
    <h2>Change Password Failed</h2>
    <ul>
      <% @errors.each do |error| %>
        <li><%= h(error) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% form_tag do %>
  <table>
    <tr>
      <td>Current password:</td>
      <td><%= password_field_tag('password', params[:password]) %></td>
    </tr>
    <tr>
      <td>New password:</td>
      <td><%= password_field_tag('new_password', params[:new_password]) %>
    </tr>
    <tr>
      <td>Confirm password:</td>
      <td><%= password_field_tag('confirm_password', params[:confirm_password]) %>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag("Login", :disable_with => "Changing password...") %></td>
    </tr>
  </table>
<% end %>
