<div id="console_nav">
  <ul id="console_tabs">
    <li class="<%= "current" if @console_section == :dashboard %>"><%= link_to "dashboard", dashboard_url %></li>
<% if current_profile.serviceowner? %>
    <li class="<%= "current" if @console_section == :services %>"><%= link_to "services", my_services_url %></li>
    <% end %>
<li class="<%= "current" if @console_section == :projects %>"><%= link_to "projects", my_projects_url %></li>
    <li class="<%= "current" if @console_section == :profile %>"><%= link_to "profile", my_profile_url %></li>
    
    <!--
    <li class="<%= "current" if @console_section == :inbox %>"><%= link_to "Inbox", inbox_url %></li>
    <li class="<%= "current" if @console_section == :network %>"><%= link_to "Network", network_url %></li>
    <li class="<%= "current" if @console_section == :store %>"><%= link_to "Store", store_url %></li>
    <li class="<%= "current" if @console_section == :settings %>"><%= link_to "Settings", settings_url %></li>
    -->
  </ul>
</div>
